{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<p class="ml-b"><a href = "/ecommerce/user/products" class="ml-b text-success"><span class="glyphicon glyphicon-chevron-left"></span> All products</a></p>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				Create Product
			</div>
			<div class="panel-body">
				<form method="post" action="{% url 'ecommerce:user_product_create' %}" class="create-product">
					{% csrf_token %}
					<div class="col-md-8">
						<div class="form-group">
							<label for="{{ form.name.id_for_label }}">Name*</label>
							{{ form.name }}
						</div>
						<div class="form-group">
							<label for="{{ form.content.id_for_label }}">Description</label>
							{{ form.content }}
						</div>
						<div class="form-group">
							<label for="{{ form.excerpt.id_for_label }}">Short Description</label>
							{{ form.excerpt }}
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="{{ form.price.id_for_label }}">Price*</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								{{ form.price }}
							</div>
						</div>
						<div class="form-group">
							<label for="{{ form.status.id_for_label }}">Status</label>
							{{ form.status }}
						</div>
						<div class="form-group">
							<label for="{{ form.quantity.id_for_label }}">Quantity*</label>
							{{ form.quantity }}
						</div>
						<input type="submit" class="btn btn-success" value="Submit" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}