{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container item-edit" id="item-">
		<p class="ml-b"><a href = "/ecommerce/user/products" class="ml-b text-success"><span class="glyphicon glyphicon-chevron-left"></span> All products</a></p>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				Edit Product
			</div>
			<div class="panel-body wave-box-wrapper">
				<div class="wave-box"></div>
				<form method="post" action="{% url 'ecommerce:user_product_update' %}" class="update-product">
					{% csrf_token %}
					<input type="hidden" name="item_id" value="">
					<div class="col-md-8">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" name="name" value="" />
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea id="ck-editor-area" class="form-control" name="content"></textarea>
						</div>
						<div class="form-group">
							<label>Short Description</label>
							<textarea class="form-control" name="excerpt" rows="7"></textarea>
						</div>
						<div class="form-group ml-t">
							<label>Upload Images</label>
							<input type = "file" name = "images[]" accept = "image/*" class = "form-control image-input" multiple />
							<hr />
							
							<div class = "clearfix m-t images-section">
								<!-- 
								<?php if( $item->images ): ?>
									<?php $image_count = 1; ?>
									<?php foreach( $item->images as $image ): ?>
										<div class = "col-sm-3">
											<span class="unset-image glyphicon glyphicon-remove text-danger lead m-0 c-p" id="unset-<?php echo $image; ?>" title="Delete image"></span>
											<?php if( $item->featured_image == $image ): ?>
												<span class="set-featured-image glyphicon glyphicon-star lead m-0 c-p" title="Set as featured image" id="featured-<?php echo $image; ?>" style="color: #E4C317"></span>
											<?php else: ?>
												<span class="set-featured-image glyphicon glyphicon-star-empty lead m-0 c-p" title="Set as featured image" id="featured-<?php echo $image; ?>"></span>
											<?php endif; ?>
											<img src = "img/uploads/<?php echo $image; ?>" class = "img-thumbnail img-responsive" />
										</div>
										
										<?php if( $image_count%4 == 0 ): ?>
											<div class = "clearfix"></div>
										<?php endif; ?>
										
										<?php $image_count++; ?>
									<?php endforeach; ?>
								<?php else: ?>
									<p class = "alert alert-danger no-item-images">No images found</p>
								<?php endif; ?>
								-->
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Price</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input type="text" class="form-control" name="price" value="" placeholder="Amount">
							</div>
						</div>
						<div class="form-group">
							<label>Status</label>
							<select class="form-control" name="status">
								<option value="1">Active</option>
								<option value="0">Inactive</option>
							</select>
						</div>
						<div class="form-group">
							<label>Quantity</label>
							<input type="number" class="form-control" name="quantity" value="" />
						</div>
						<input type="submit" class="btn btn-success" value="Update" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}