{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container item-edit" id="item-{{ product.id }}">
		<p class="ml-b"><a href = "/ecommerce/user/products" class="ml-b text-success"><span class="glyphicon glyphicon-chevron-left"></span> All products</a></p>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				Edit Product
			</div>
			<div class="panel-body wave-box-wrapper">
				<div class="wave-box"></div>
				<form action="{% url 'ecommerce:user_product_update' product.id %}" method="post" enctype="multipart/form-data" class="update-product" >
					{% csrf_token %}
					<div class="col-md-8">
						<div class="form-group">
							<label for="{{ form.name.id_for_label }}">Name</label>
							{{ form.name }}
						</div>
						<div class="form-group">
							<label for="{{ form.content.id_for_label }}">Description</label>
							{{ form.content }}
						</div>
						<div class="form-group">
							<label for="{{ form.excerpt.id_for_label }}">Short Description</label>
							{{ form.excerpt }}
						</div>
						<div class="form-group ml-t">
							<label for="{{ form.images.id_for_label }}">Upload Images</label>
							{{ form.images }}
							<hr />
							
							<div class = "clearfix m-t images-section">
								{% if product.image_set.all %}
									{% for data in product.image_set.all %}
										<div class = "col-sm-3">
											<span class="unset-image glyphicon glyphicon-remove text-danger lead m-0 c-p" id="unset-{{ data.id }}" title="Delete image"></span>
											{% if product.featured_image == data.image %}
												<span class="set-featured-image glyphicon glyphicon-star lead m-0 c-p" title="Set as featured image" id="featured-{{ data.image }}" style="color: #E4C317"></span>
											{% else %}
												<span class="set-featured-image glyphicon glyphicon-star-empty lead m-0 c-p" title="Set as featured image" id="featured-{{ data.image }}"></span>
											{% endif %}
											<img src = "/ecommerce/{{ data.image }}" class = "img-thumbnail img-responsive" />
										</div>
										
										{% if forloop.counter|divisibleby:4 == 1 %}
											<div class = "clearfix"></div>
										{% endif %}
									{% endfor %}
								{% else %}
									<p class = "alert alert-danger no-item-images">No images found</p>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="{{ form.price.id_for_label }}">Price</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								{{ form.price }}
							</div>
						</div>
						<div class="form-group">
							<label for="{{ form.status.id_for_label }}">Status</label>
							{{ form.status }}
						</div>
						<div class="form-group">
							<label for="{{ form.quantity.id_for_label }}">Quantity</label>
							{{ form.quantity }}
						</div>
						<input type="submit" class="btn btn-success" value="Update" />
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}