{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<title>Python E-commerce</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'ecommerce/lib/imageviewer/imageviewer.css' %}">
	<link rel="stylesheet" href="{% static 'ecommerce/lib/lobibox/lobibox.min.css' %}">
	<link rel="stylesheet" href="{% static 'ecommerce/css/styles.css' %}" />
</head>
<body class="override">
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/ecommerce/">Python E-commerce</a>
			</div>
			
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/ecommerce/products">Products</a></li>
					<li><a href="/ecommerce/about">About</a></li>
					<li><a href="/ecommerce/contact">Contact</a></li>
					{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/ecommerce/user/account">Account</a></li>
								<li><a href="/ecommerce/user/product/create">Create Product</a></li>
								<li><a href="/ecommerce/user/products">Manage Products</a></li>
							</ul>
						</li>
						<li><a href="/ecommerce/user/logout">Logout</a></li>
					{% else %}
						<li><a href="/ecommerce/user/register">Register</a></li>
						<li><a href="/ecommerce/user/login">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	
	{% block content %}{% endblock %}	
	
	<footer>
		<div class="container">
			<div class="row well ml-t">
				<div class="col-lg-8 col-md-8">		
					<h4>Developed by: <a href="http://carlofontanos.com" target="_blank">Carl Victor C. Fontanos</a></h4>
					<div class="personal-sm">
						<a href="http://carlofontanos.com/about-me">
							<i class="fa fa-home text-success" title=""> </i>&nbsp;
						</a>
						<a href="https://www.facebook.com/carlo.fontanos" target="_blank" title="Facebook">
							<i class="fa fa-facebook text-danger"> </i>&nbsp;
						</a>
						<a href="https://twitter.com/carlofontanos" target="_blank" title="Twitter">
							<i class="fa fa-twitter text-warning"> </i>&nbsp;
						</a>
						<a href="https://plus.google.com/u/0/107219338853998242780/about" target="_blank" title="GooglePlus">
							<i class="fa fa-google-plus text-success"> </i>&nbsp;
						</a>
						<a href="https://ph.linkedin.com/in/carlfontanos" target="_blank" title="Linkedin">
							<i class="fa fa-linkedin text-danger"> </i>&nbsp;
						</a>
						<a href="https://github.com/carlo-fontanos" target="_blank" title="Github">
							<i class="fa fa-github text-"> </i>&nbsp;
						</a>
						<a href="mailto:carl.fontanos@gmail.com" title="Contact Me">
							<i class="fa fa-envelope-o text-warning"> </i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<p class="m-t">Copyright &copy <a href="http://carlofontanos.com" target="_blank">www.carlofontanos.com</a> 2017</p>
					<p>All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	
	<script type="text/javascript">
		var module_path = '/ecommerce/'
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
	<script src="{% static 'ecommerce/lib/imageviewer/imageviewer.min.js' %}"></script>
	<script src="{% static 'ecommerce/lib/lobibox/lobibox.min.js' %}"></script>
	<script src="{% static 'ecommerce/js/jquery.form.js' %}"></script>
	<script src="{% static 'ecommerce/js/global.js' %}"></script>
	<script src="{% static 'ecommerce/js/app.js' %}"></script>
</body>
</html>