{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="well">
					<h3><i class="fa fa-home fa-1x"></i> Address:</h3>               
					<p>11 Middle Quirino Hill, Baguio City, Philippines 2600</p>
					<br />
					<h3><i class="fa fa-envelope fa-1x"></i> E-Mail Address:</h3>
					<p>carl.fontanos@gmail.com</p>
					<br />
					<h3><i class="fa fa-user fa-1x"></i> Author:</h3>
					<p>Carl Victor C. Fontanos</p>
					<br />
					<h3><i class="fa fa-yelp fa-1x"></i> Website:</h3>
					<p><a href="http://www.carlofontanos.com">www.carlofontanos.com</a></p>
				</div>
			</div>
			<div class="col-sm-6">
				<iframe src="https://www.google.com/maps/d/embed?mid=18jQJS2a9jUk7odWawQ_oFtBmNYo&hl=en_US" width="100%" height="430"></iframe>
			</div>
		</div>
	</div>
       

{% endblock %}